APP_NAME=Sales API
APP_DESCRIPTION=API para gerenciamento de vendas, vendedores e metas.
APP_ABOUT=Esta API foi desenvolvida para fins de demonstração e aprendizado.
DB_URL=sqlite:///./sales.db
BEARER_TOKEN=your-secret-token-here
DEBUG=true
